<nav class = " px-4 py-3  bg-black border-b border-white text-white flex justify-between font-dosis items-center">
   
<h3 class = "text-2xl font-dosis"><a href="/">InstaPost</a></h3>
  <div class="flex gap-4 items-center text-sm">
    <% if current_user %>
      <%= link_to "New Post", new_post_path, class: "hover:underline text-gray-200" %>
      <%= button_to "Log Out", logout_path, method: :delete, class: "rounded py-1 px-3 bg-blue-600 hover:bg-blue-700 text-white" %>
    <% else %>
      <%= link_to "Sign Up", signup_path, class: "rounded py-1 px-3 text-white hover:bg-[#1f1f1f]" %>
      <%= link_to "Log In", login_path,method: :delete, class: "rounded py-1 px-3 text-white hover:bg-[#1f1f1f]" %>
    <% end %>
  </div>
</nav>